In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Barrow,71.2906,-156.7887,-20.18,69,0,6.91,US,2022-02-02 17:22:47
1,1,Manono,-7.3000,27.4167,71.01,96,100,3.06,CD,2022-02-02 17:22:54
2,2,Punta Arenas,-53.1500,-70.9167,53.71,66,75,10.36,CL,2022-02-02 17:22:55
3,3,Beringovskiy,63.0500,179.3167,-2.20,84,43,19.33,RU,2022-02-02 17:22:55
4,4,Yellowknife,62.4560,-114.3525,-35.72,78,40,6.91,CA,2022-02-02 17:19:10

In [4]:
# Get the data types.
# city_data_df.dtypes

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [9]:
# Get the maximum temperature.
# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
    # temps.append(max(temp, 0))

In [15]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
# fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [20]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
15,15,Mar Del Plata,-38.0023,-57.5575,87.82,50,0,11.99,AR,2022-02-02 17:21:46
17,17,Waingapu,-9.6567,120.2641,78.53,84,39,8.66,ID,2022-02-02 17:23:01
26,26,Iguai,-14.7564,-40.0892,88.16,51,32,4.56,BR,2022-02-02 17:23:05
28,28,Bathsheba,13.2167,-59.5167,84.81,65,40,16.11,BB,2022-02-02 17:23:06
30,30,Lehututu,-23.9667,21.8667,80.29,53,71,10.54,BW,2022-02-02 17:23:08
31,31,Coolum Beach,-26.5333,153.1000,77.11,98,100,1.01,AU,2022-02-02 17:23:08
32,32,Puerto Ayora,-0.7393,-90.3518,82.36,73,49,8.63,EC,2022-02-02 17:20:30
35,35,Hithadhoo,-0.6000,73.0833,82.54,70,51,9.13,MV,2022-02-02 17:23:09
45,45,Rikitea,-23.1203,-134.9692,77.29,75,57,6.35,PF,2022-02-02 17:23:11
46,46,Karratha,-20.7377,116.8463,82.02,75,100,13.38,AU,2022-02-02 17:24:15

In [21]:
preferred_cities_df.count()

City_ID       164
City          164
Lat           164
Lng           164
Max Temp      164
Humidity      164
Cloudiness    164
Wind Speed    164
Country       164
Date          164
dtype: int64

In [22]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
15  Mar Del Plata      AR     87.82 -38.0023  -57.5575
17       Waingapu      ID     78.53  -9.6567  120.2641
26          Iguai      BR     88.16 -14.7564  -40.0892
28      Bathsheba      BB     84.81  13.2167  -59.5167
30       Lehututu      BW     80.29 -23.9667   21.8667
31   Coolum Beach      AU     77.11 -26.5333  153.1000
32   Puerto Ayora      EC     82.36  -0.7393  -90.3518
35      Hithadhoo      MV     82.54  -0.6000   73.0833
45        Rikitea      PF     77.29 -23.1203 -134.9692
46       Karratha      AU     82.02 -20.7377  116.8463

In [30]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except:
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [33]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
15,Mar Del Plata,AR,87.82,-38.0023,-57.5575,Gran Hotel Mar del Plata
17,Waingapu,ID,78.53,-9.6567,120.2641,Pondok Wisata Elim
26,Iguai,BR,88.16,-14.7564,-40.0892,CadHotel
28,Bathsheba,BB,84.81,13.2167,-59.5167,Atlantis Hotel
30,Lehututu,BW,80.29,-23.9667,21.8667,
31,Coolum Beach,AU,77.11,-26.5333,153.1000,Coolum Beach Resort
32,Puerto Ayora,EC,82.36,-0.7393,-90.3518,Finch Bay Galapagos Hotel
35,Hithadhoo,MV,82.54,-0.6000,73.0833,Scoop Guest House
45,Rikitea,PF,77.29,-23.1203,-134.9692,People ThankYou
46,Karratha,AU,82.02,-20.7377,116.8463,ibis Styles Karratha

In [35]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [37]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))